divClas> h1 {
    color: darkred;
}

thirdDiv> ul>li>img{
    width: 400px;
}

thirdDiv {
    height: 600px;
    width:  500px;
    background-color:coral ;
    padding: 50px;
    border-color: indigo;
    border-width: 4px;
}

spanId {
    font-size: 18px;
    margin: 50px;
}




